.politicasContainer {
    padding: 2% 10%;
}

.politicasContainer h2 {
    text-align: center;
    color: #3b1660;
    font-weight: 800;
}

.politicasContainer h6 {
    color: #00c6c2;
    font-weight: bolder;
}

.politicasContainer p,
.politicasContainer li{
    text-align: justify;
    margin-bottom: 15px;
}